<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appcargosprb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appcargosprb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appcargosprb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$appcargosprb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eBills" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mubutka75k.database.windows.net,1433;Initial Catalog=eBills_PRB;Integrated Security=False;User ID=sports2015@mubutka75k;Password=Sports_2015;Connect Timeout=600;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:mubutka75k.database.windows.net,1433;Initial Catalog=eBills_PRB;Integrated Security=False;User ID=sports2015@mubutka75k;Password=Sports_2015;Connect Timeout=600;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eBills_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:mubutka75k.database.windows.net,1433;Database=eBills_PRB;User ID=sports2015@mubutka75k;Password=Sports_2015;Trusted_Connection=False;Encrypt=True;Connection Timeout=600;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eBills-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mubutka75k.database.windows.net,1433;Initial Catalog=eBills_PRB;Integrated Security=False;User ID=sports2015@mubutka75k;Password=Sports_2015;Connect Timeout=600;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>